* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cointener {
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 132px 0px 135px;
}

ul {
  list-style-type: none;
}

nav li {
  display: flex;
  gap: 40px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 500;
}

a:hover {
  color: white;
  font-size: 18px;
  text-decoration: dashed;
}

button {
  width: 144px;
  height: 47px;
  padding: 14px 42px;
  background-color: rgba(0, 252, 227, 1);
  border-radius: 100px;
  color: #0f0b10;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  background-image: url(imgs/photo_2023-07-22_17-07-59.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 135px;
}

h1 {
  width: 850px;
  font-size: 64px;
  font-weight: 600;
  color: white;
}

p {
  width: 558px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  padding-top: 24px;
  line-height: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.button-1 {
  width: 191px;
  height: 55px;
  padding: 18px 59px;
  font-size: 13px;
}

.button-2 {
  width: 259px;
  height: 60px;
  color: white;
  padding: 18px 30px;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 20px;
}
